* {
	margin: 0;
	padding: 0;
}

.head{
	width: 70%;
	margin: 0 auto;
	color: #4682B4;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	font-family: Philosopher;
}

body {
	background-image: url("img/background03.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.menu {
	position: relative;
	top: 25px;
}

ul {
	list-style-type: none;
	width: 20%;
	background-color: #f1f1f1;
	border: 1px solid #555;
	border-radius: 5px;
	position: fixed;
    overflow: auto;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
	font-family: Philosopher;
}

li:last-child {
    border-bottom: none;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4682B4;
    color: white;
}

.main {
	width: 50%;
	height: 400px;
	margin: 0 auto;
	background-color: rgba(242, 242, 242, 0.7);
	border: 1px solid #f2f2f2;
	border-radius: 20px;
	text-align: center;
	font-size: 25px;
	font-family: Aldrich;
	position: relative;
	top: 25px;
	overflow: auto;
}

.main table {
    height: 70%;
	text-align: left;
	margin: auto 0;
}

td {
	border: 10px solid transparent;
}


