* {
	margin: 0;
	padding: 0;
}

.head{
	width: 70%;
	margin: 0 auto;
	color: #4682B4;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	font-family: Philosopher;
}

body {
	background-image: url("img/background03.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.menu {
	position: relative;
	top: 25px;
}

ul {
	list-style-type: none;
	width: 20%;
	background-color: #f7f7f7;
	border: 1px solid #555;
	border-radius: 5px;
	position: fixed;
    overflow: auto;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
	font-family: Philosopher;
	font-size: 20px;
}

li:last-child {
    border-bottom: none;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4682B4;
    color: white;
}

.main {
	width: 50%;
	height: 400px;
	margin: 0 auto;
	background-color: rgba(242, 242, 242, 0.7);
	border: 1px solid #f2f2f2;
	border-radius: 20px;
	text-align: center;
	font-size: 25px;
	font-family: Aldrich;
	position: relative;
	top: 25px;
	overflow: auto;
}

.main table {
    height: 70%;
	text-align: left;
	margin: auto 0;
}

td {
	border: 10px solid transparent;
}

input[type=text] {
	width: 80%;
}

textarea, input[type=text] {
	display: block;
	margin: 10px auto;
    font-size: 20px;
	font-family: Aldrich;
	border: 1px solid #f2f2f2;
	border-radius: 10px; 
}

textarea:focus , input[type=text]:focus{
    border: 1px solid #555;
}

input[type=submit], .try {
    width: 15%;
    background-color: #4682B4;
	padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 15px;
	font-family: Aldrich;
	display: inline-block;
	margin-bottom: 5px;
}

input[type=submit]:hover, .try:hover {
	background-color: #376891;
}

.try  a {
	text-decoration: none;
	display: block;
	color: white;
}

@media only screen and (max-width: 480px){
	.head {
		font-size: 15px;
	}
	
	ul {
		width: 100%;
		position: relative; 
	}
	
	.menu {
		width: 80%;
		margin: 0 auto;
	}
	
	.main {
		width: 90%;
		font-size: 18px;
		margin-top: 20px;
	}
	
	input[type=submit], .try {
		width: 30%;
	}
	
	input[type=text] {
		width: 90%;
	}
}

@media only screen and (min-width: 481px) and (max-width: 780px) {
	.head {
		font-size: 20px;
	}
	
	input[type=submit], .try {
		width: 30%;
	}
		
	ul {
		position: relative;
		width: 100%;
		overflow: hidden;
	}
	
	li {
        float: left;
		width: 25%;
		font-size: 15px;	
		border-bottom: none;
    }
	
	.menu {
		width: 90%;
		margin: 10px auto;
	}
	.main {
		width: 90%;
		font-size: 18px;
	}
}