.head{
 border: solid 1px black;
 height: 120px;
 width: 99%;
 font-style: italic;
 color: #4682B4;
 font-family:'Times New Roman', Times, serif;
 font-weight: bold;
 font-size: 25px;
}

.info{
padding: 10px;
background: #4682B4;
border: solid 1px black;
top: 120px;
height: 60px;
width: 250px;
font-family:'Times New Roman', Times, serif;
font-weight: bold;
font-size: 26px;
}
.info:hover{
background: white;
}
.training{
padding: 10px;
background: #B0C4DE;
border: solid 1px black;
top: 240px;
height: 60px;
width: 250px;
font-family:'Times New Roman', Times, serif;
font-weight: bold;
font-size: 26px;
}
.training:hover{
background: white;
}
.enter{
padding: 10px;
background: #ADD8E6;
border: solid 1px black;
top: 360px;
height: 60px;
width: 250px;
font-family:'Times New Roman', Times, serif;
font-weight: bold;
font-size: 26px;
}
.enter:hover{
background: white;
}
.central{
border: solid 1px black;
position: absolute;
left: 281px;
top: 131;
height: 500px;
width: 78%;
}
